.panel-body{
			width:500px;
			height:500px;
			background-color:#ebebe0;
			margin-left:300px;
			 border: 1px solid;
			padding: 10px;
			box-shadow: 5px 10px #888888;
			
			}
		a{
				text-decoration:none;
				color:black;
			}
			a:hover{
				color:#6b6b47;
			}
#SelectBookList{
				margin-bottom:20px;
			}