.panel-body{
			width:auto;
			height:auto;
			background-color:#f4f5f7;
			margin-top:50px;
			
			 border: 1px solid;
			padding: 10px;
			box-shadow: 5px 10px #888888;
			
			}
	img{
	margin-left:100px;
	margin-top:20px;
	box-shadow: 5px 10px #888888;
	width:400px;
	height:300px;
}